*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]:invalid {
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

ol,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #454545;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body._header-menu {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

._show-modal,
._scroll-lock {
  overflow: hidden;
}

._show-order-bar footer {
  padding-bottom: 84px;
}

._show-order-bar .modal__outer {
  margin: 40px 20px 124px;
  min-height: calc(100% - 164px);
}

h1,
.h1 {
  font-weight: 700;
  font-size: 44px;
  color: #000000;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 34px;
  color: #000000;
}

h3,
.h3 {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: #454545;
}

.text_fz_small {
  font-size: 14px;
}

.promo {
  margin-top: 40px;
}

.promo__inner {
  display: block;
  width: 100%;
  border-top: 1px solid #C4C4C4;
  padding-top: 50px;
}

.promo__inner img {
  width: 100%;
  border-radius: 15px;
}

.order-instructions__title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.order-instructions__text {
  font-size: 14px;
  color: #454545;
  margin-bottom: 10px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

.menu-list-scroll__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  padding-bottom: 20px;
}

.menu-list-scroll__control {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-list-scroll__arrow {
  margin-right: 15px;
  color: #C1CCFF;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.menu-list-scroll__arrow:hover {
  color: #506cff;
}

.menu-list-scroll__arrow:last-child {
  margin-right: 0;
}

.menu-list-scroll__arrow._disabled {
  opacity: 0.5;
  pointer-events: none;
}

.section-recommend {
  margin-top: 40px;
}

.section-recommend__title {
  margin-bottom: 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  padding: 5px 20px;
  border-radius: 4px;
  background: #506cff;
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.btn > * {
  pointer-events: none;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #2947E2;
}

.btn:active {
  background: #4766ff;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.btn__icon:first-child {
  margin-right: 6px;
}

.btn__icon:last-child {
  margin-right: 6px;
}

.btn_p_25 {
  padding: 10px 25px;
}

.btn.btn-add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.btn.btn-add-cart .btn-add-cart__icon {
  display: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.btn.btn-add-cart .btn-add-cart__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn.btn-add-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.btn.btn-add-order .btn-add-order__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn.btn-add-order .btn-add-order__title {
  margin-right: 10px;
}

.btn.btn-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn.btn-checkout .btn-checkout__icon {
  margin-right: 7px;
}

.btn.btn-checkout .btn-checkout__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

.tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #202020;
  height: 30px;
  padding: 5px 20px;
  background: #EEF1FF;
  border-radius: 57px;
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

a.tag,
button.tag {
  cursor: pointer;
}

a.tag:focus,
button.tag:focus {
  outline: none;
}

a.tag:hover,
button.tag:hover {
  background: #e5eaff;
}

a.tag:active,
button.tag:active {
  background: #f0f3ff;
}

a.tag:disabled,
button.tag:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #506CFF;
}

.link:hover {
  color: #2947E2;
}

.link:active {
  color: #4766ff;
}

.link__icon:first-child {
  margin-right: 6px;
}

.link__icon:last-child {
  margin-right: 6px;
}

.link-back {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #BDBADE;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.link-back:hover {
  color: #506cff;
}

.link-back:hover .link-back__arrow {
  color: #506cff;
}

.link-back__arrow {
  margin-right: 5px;
  color: #C1CCFF;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.radio-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
}

.radio-btn:hover .radio-btn__checkmark {
  border-color: #506CFF;
}

.radio-btn__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.radio-btn__input:checked ~ .radio-btn__checkmark {
  border-color: #506CFF;
}

.radio-btn__input:checked ~ .radio-btn__checkmark:after {
  background: #506CFF;
}

.radio-btn__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #C1CCFF;
  border-radius: 3px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.radio-btn__checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background: transparent;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  color: #454545;
}

.checkbox:hover .checkbox__checkmark {
  background: #818CFF;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.checkbox__input:checked ~ .checkbox__checkmark {
  background: #506CFF;
}

.checkbox__input:checked ~ .checkbox__checkmark:after {
  top: 4px;
  left: 2px;
  width: 13px;
  height: 7px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  background: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox__input:checked ~ .checkbox__checkmark::before {
  opacity: 0;
}

.checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #C1CCFF;
  border-radius: 3px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox__checkmark:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 2px;
  height: 10px;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox__checkmark:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.tab-content-style {
  display: none;
}

.tab-content-style._active {
  display: block;
}

.tabs-style {
  position: relative;
}

.tabs-style::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
}

.tabs-style_mb_60 {
  margin-bottom: 60px;
}

.tabs-style_mb_30 {
  margin-bottom: 30px;
}

.tabs-style__outer {
  overflow: auto;
}

.tabs-style__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tabs-style__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0 30px 27px;
  color: #202020;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 30px;
  cursor: pointer;
  position: relative;
}

.tabs-style__item:last-child {
  margin-right: 0;
}

.tabs-style__item:hover {
  color: #506CFF;
}

.tabs-style__item::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border: 0px solid transparent;
  background: transparent;
  border-radius: 4px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.tabs-style__item._active {
  color: #506CFF;
}

.tabs-style__item._active::after {
  border: 0px solid #506CFF;
  background: #506CFF;
  height: 5px;
  border-width: 1px;
}

.input-style {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #131313;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: auto;
  width: 100%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.input-style:focus {
  outline: none;
  border-color: #506CFF;
}

.input-style::-webkit-input-placeholder {
  opacity: 1;
  color: #707070;
}

.input-style::-moz-placeholder {
  opacity: 1;
  color: #707070;
}

.input-style:-ms-input-placeholder {
  opacity: 1;
  color: #707070;
}

.input-style::-ms-input-placeholder {
  opacity: 1;
  color: #707070;
}

.input-style::placeholder {
  opacity: 1;
  color: #707070;
}

textarea.input-style {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: none;
  height: 85px;
}

.input-counter {
  position: relative;
  width: 80px;
}

.input-counter__btn {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: inherit;
  height: 100%;
  background: none;
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 3px;
  color: #131313;
}

.input-counter__btn:focus {
  outline: none;
}

.input-counter__btn:hover {
  color: #506cff;
}

.input-counter__btn_dec {
  left: 0;
  padding-left: 14px;
}

.input-counter__btn_inc {
  right: 0;
  padding-right: 14px;
}

.input-counter__input-style {
  border-radius: 6px;
  border-color: #506CFF;
  padding: 0 24px;
  font-size: 16px;
  text-align: center;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #EEF1FF;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.card-item:hover {
  -webkit-box-shadow: 8px 8px 20px rgba(23, 31, 58, 0.1);
  box-shadow: 8px 8px 20px rgba(23, 31, 58, 0.1);
}

.card-item__top {
  position: relative;
  width: 100%;
  padding-top: 84.2105%;
  background: #E0E6FF;
  overflow: hidden;
}

a.card-item__top .card-item__img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.card-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.card-item__content {
  padding: 30px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-item__title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.card-item__title a {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.card-item__title a:hover {
  color: #506CFF;
}

.card-item__text {
  font-size: 14px;
  color: #707070;
  margin-bottom: 15px;
}

.card-item__btns {
  margin-top: auto;
}

.header {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(34, 42, 83, 0.07);
  box-shadow: 0px 4px 20px rgba(34, 42, 83, 0.07);
  margin-bottom: 50px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 65px;
  padding: 0 10px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95px;
  height: 40px;
  margin-right: 20px;
}

.header__logo img {
  max-width: 100%;
  max-height: 100%;
}

.header__header-menu {
  margin-left: auto;
}

.header-menu {
  position: relative;
}

.header-menu._active .header-menu__drop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.header-menu._active .header-menu__menu-btn span {
  top: calc(50% - 1px);
}

.header-menu._active .header-menu__menu-btn span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-menu._active .header-menu__menu-btn span:nth-child(2) {
  opacity: 0;
}

.header-menu._active .header-menu__menu-btn span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-menu__drop {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  background: #eef1ff;
  -webkit-box-shadow: 0px 4px 20px rgba(34, 42, 83, 0.07);
  box-shadow: 0px 4px 20px rgba(34, 42, 83, 0.07);
  border-radius: 10px;
  min-width: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 260px;
  padding: 20px 20px 25px 20px;
  font-size: 20px;
  font-weight: 500;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  z-index: 50;
}

.header-menu__drop::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  top: -10px;
  right: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.18912 1.12359C7.58825 0.570536 8.41175 0.570536 8.81088 1.12359L15.5162 10.4148C15.9935 11.0762 15.521 12 14.7053 12H1.29465C0.479046 12 0.00647068 11.0762 0.483769 10.4148L7.18912 1.12359Z' fill='%23eef1ff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-menu__item {
  margin-bottom: 5px;
}

.header-menu__item:last-child {
  margin-bottom: 0;
}

.header-menu__link {
  display: block;
  width: 100%;
  padding: 5px 15px;
  color: #454545;
}

.header-menu__link:hover {
  color: #506cff;
}

.header-menu__menu-btn {
  width: 34px;
  height: 21px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #262626;
}

.header-menu__menu-btn:hover span {
  color: #506CFF;
}

.header-menu__menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 11px;
  position: absolute;
  left: 0;
  background: currentColor;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

.header-menu__menu-btn span:nth-child(1) {
  top: 0;
}

.header-menu__menu-btn span:nth-child(2) {
  top: calc(50% - 1px);
}

.header-menu__menu-btn span:nth-child(3) {
  bottom: 0;
}

.footer {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 80px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 25px;
  border-top: 1px solid #C4C4C4;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95px;
  height: 40px;
  margin-right: 20px;
}

.footer__logo img {
  max-width: 100%;
  max-height: 100%;
}

.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #707070;
}

.restaurant__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.restaurant__info {
  margin-right: 40px;
  max-width: 455px;
  width: 100%;
}

.restaurant__image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 664px;
}

.restaurant__image-inner {
  position: relative;
  width: 100%;
  padding-top: 66.5662%;
}

.restaurant__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.restaurant__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  margin-bottom: 14px;
}

.restaurant__logo img {
  max-width: 100%;
  max-height: 100%;
}

.restaurant__title {
  margin-bottom: 18px;
}

.restaurant__address {
  font-size: 16px;
  color: #707070;
  margin-bottom: 15px;
}

.restaurant__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.restaurant__tags .tag {
  margin: 0 5px 5px 0;
}

.restaurant__schedule {
  font-size: 16px;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 20px;
}

.restaurant__schedule-text {
  margin-right: 7px;
}

.section-menu-main {
  margin-top: 40px;
}

.section-menu-main__inner {
  display: block;
  width: 100%;
  border-top: 1px solid #C4C4C4;
  padding-top: 30px;
}

.section-menu-main__title {
  margin-bottom: 15px;
}

.section-menu-drink {
  margin-top: 65px;
}

.section-menu-drink__title {
  margin-bottom: 30px;
}

.product-item {
  border-bottom: 1px solid #C4C4C4;
}

.product-item:first-child {
  border-top: 1px solid #C4C4C4;
}

.product-item._active .product-item__head {
  padding-bottom: 10px;
}

.product-item._active .product-item__content {
  max-height: none;
  padding-bottom: 15px;
}

.product-item._active .product-item__arrow {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.product-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.product-item__head:hover .product-item__arrow {
  color: #506CFF;
}

.product-item__title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-right: 18px;
}

.product-item__arrow {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #C1CCFF;
}

.product-item__content {
  overflow: hidden;
  max-height: 0px;
}

.product-item__content > *:last-child {
  margin-bottom: 0;
}

.product-item__text {
  font-size: 14px;
  color: #454545;
  margin-bottom: 8px;
}

.product-item__row {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
}

.product-item__row:first-child {
  padding-top: 0;
}

.product-item__row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.product-item__row._active .product-item__price,
.product-item__row._active .product-item__counter {
  opacity: 1;
  visibility: visible;
}

.product-item__control {
  width: 200px;
  margin-right: 10px;
}

.product-item__price {
  font-weight: 700;
  font-size: 16px;
  color: #454545;
  min-width: 75px;
  margin-right: 5px;
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.product-item__counter {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;
}

.product__image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 460px;
  margin-right: 45px;
}

.product__image-inner {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.product__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.product__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product__back {
  margin-bottom: 4px;
}

.product__title {
  margin-bottom: 10px;
}

.product__text {
  margin-bottom: 15px;
}

.product__items {
  margin-bottom: 20px;
}

.product__instructions {
  margin-bottom: 20px;
}

.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #C4C4C4;
  padding-top: 30px;
}

.product__counter {
  margin-right: 15px;
}

.product__btn {
  max-width: 210px;
  width: 100%;
}

.cart__inner {
  padding-bottom: 35px;
  border-bottom: 1px solid #C4C4C4;
}

.cart__back {
  margin-bottom: 15px;
}

.thank__back {
  margin-bottom: 15px;
}

.thank__text {
  margin-top: 15px;
}

.order-table {
  margin-top: 30px;
}

.order-table__row {
  padding: 15px 0;
  border-bottom: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.order-table__row:first-child {
  padding-top: 0;
}

.order-table__row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.order-table__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-table__description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;
}

.order-table__image {
  width: 34px;
  height: 34px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 12px;
}

.order-table__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.order-table__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px;
}

.order-table__head {
  min-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-table__extra {
  margin-top: 5px;
}

.order-table__extra li {
  margin-bottom: 5px;
}

.order-table__extra li:last-child {
  margin-bottom: 0;
}

.order-table__quantity {
  font-weight: 700;
}

.order-table__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.order-table__counter {
  margin-right: 60px;
}

.order-table__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 55px;
}

.order-table__btn {
  height: 40px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  color: #C1CCFF;
  margin-right: 15px;
}

.order-table__btn:hover {
  color: #2947E2;
}

.order-table__btn:last-child {
  margin-right: 0;
}

.order-table__btn._hidden {
  opacity: 0;
  visibility: hidden;
}

.order-table__price {
  width: 115px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.order-table__result {
  width: 320px;
  font-size: 20px;
  color: #000000;
}

.order-table__tax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-table__tax-label {
  font-weight: 500;
}

.order-table__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 700;
}

.order-table__checkout {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.order-table__checkout-btn {
  max-width: 244px;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: none;
  z-index: 100;
}

.modal__outer {
  margin: 40px 20px;
  min-height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__inner {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal._active {
  display: block;
}

.modal__close {
  position: absolute;
  top: 3px;
  right: 3px;
}

.modal__body {
  position: relative;
  background: #FFFFFF;
  border-radius: 15px;
  max-width: 385px;
  width: 100%;
}

.modal__title {
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.modal__text {
  font-size: 14px;
  color: #454545;
  margin-bottom: 15px;
}

.modal__content {
  padding: 35px 40px 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  color: #000;
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;
  border-radius: 2px;
  width: 16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid currentColor;
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover {
  color: #506cff;
}

.modal-order-item {
  border-bottom: 1px solid #C4C4C4;
}

.modal-order-item:first-child {
  border-top: 1px solid #C4C4C4;
}

.modal-order-item._active .modal-order-item__head {
  padding-bottom: 5px;
}

.modal-order-item._active .modal-order-item__content {
  max-height: none;
  padding-bottom: 15px;
}

.modal-order-item._active .modal-order-item__arrow {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.modal-order-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.modal-order-item__head:hover .modal-order-item__arrow {
  color: #506CFF;
}

.modal-order-item__title {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
}

.modal-order-item__arrow {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #C1CCFF;
}

.modal-order-item__content {
  overflow: hidden;
  max-height: 0px;
}

.modal-order-item__content > *:last-child {
  margin-bottom: 0;
}

.modal-order-item__text {
  font-size: 14px;
  color: #454545;
  margin-bottom: 8px;
}

.modal-order-item__row {
  margin-bottom: 5px;
}

.modal-order-item__row:last-child {
  margin-bottom: 0;
}

.modal-order__image {
  position: relative;
  width: 100%;
  padding-top: 73.4426%;
  background: #E0E6FF;
  margin-bottom: 15px;
}

.modal-order__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.modal-order__items {
  margin-bottom: 15px;
}

.modal-order__instructions {
  margin-bottom: 15px;
}

.modal-order__footer {
  padding-top: 15px;
  border-top: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-order__counter {
  width: 80px;
  margin-right: 15px;
}

.modal-order__btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.popup-wrapper {
  position: fixed;
  top: 15px;
  right: 15px;
  max-width: calc(100% - 30px);
  width: 100%;
  pointer-events: none;
  z-index: 75;
  visibility: hidden;
}

.popup-wrapper._active {
  visibility: visible;
}

.popup-wrapper .popup {
  pointer-events: all;
  margin-left: auto;
}

.popup {
  color: #ffffff;
  background: #EEF1FF;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  max-width: 340px;
  width: 100%;
  max-height: 0px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  overflow: hidden;
  z-index: 10;
  display: none;
}

.popup + .popup {
  margin-top: 10px;
}

.popup._active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 34px;
  min-height: 96px;
}

.popup__icon {
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #506CFF;
}

.order-bar {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -5px 20px rgba(34, 42, 83, 0.07);
  box-shadow: 0px -5px 20px rgba(34, 42, 83, 0.07);
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 100%;
  z-index: 200;
}

.order-bar._active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.order-bar__inner {
  min-height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0;
}

.order-bar__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 16px;
  color: #161616;
}

.order-bar__text {
  margin: 2px 18px 2px 0;
}

.order-bar__values {
  margin: 2px 0;
}

.order-bar__count {
  margin-right: 7px;
}

.order-bar__cost {
  font-weight: 700;
}

@media screen and (max-width: 1239px) {
  .tabs-style_mb_60 {
    margin-bottom: 40px;
  }

  .tabs-style_mb_30 {
    margin-bottom: 20px;
  }

  .tabs-style__outer {
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
  }

  .tabs-style__inner::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .tabs-style__item {
    padding: 0 15px 20px;
  }
}

@media screen and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 28px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .order-instructions__title {
    font-size: 15px;
  }

  .promo {
    margin-top: 30px;
  }

  .promo__inner {
    padding-top: 30px;
  }

  .menu-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-list-scroll__outer {
    scroll-behavior: smooth;
    overflow: hidden;
  }

  .menu-list-scroll__inner {
    grid-template-columns: repeat(auto-fit, calc(50vw - 20px - 10px));
    width: calc(200% + 20px);
  }

  .menu-list-scroll__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section-recommend {
    margin-top: 50px;
  }

  .section-recommend__title {
    margin-bottom: 20px;
  }

  .checkbox {
    font-size: 14px;
  }

  .tabs-style__item {
    padding: 0 15px 20px;
  }

  .header {
    margin-bottom: 30px;
  }

  .footer {
    margin-top: 50px;
  }

  .footer__inner {
    padding: 10px 0 20px;
  }

  .restaurant__info {
    margin-right: 30px;
    max-width: 320px;
  }

  .restaurant__logo {
    margin-bottom: 8px;
  }

  .restaurant__title {
    margin-bottom: 10px;
  }

  .restaurant__address {
    font-size: 14px;
  }

  .restaurant__tags {
    margin-bottom: 10px;
  }

  .restaurant__schedule {
    font-size: 14px;
  }

  .section-menu-main {
    margin-top: 30px;
  }

  .section-menu-main__inner {
    padding-top: 20px;
  }

  .section-menu-main__title {
    margin-bottom: 20px;
  }

  .section-menu-drink {
    margin-top: 50px;
  }

  .section-menu-drink__title {
    margin-bottom: 20px;
  }

  .product-item__title {
    font-size: 16px;
  }

  .product-item__control {
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
  }

  .product-item__price {
    font-size: 14px;
    min-width: 60px;
  }

  .product-item__counter {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }

  .product__inner {
    padding-bottom: 15px;
  }

  .product__image {
    display: none;
  }

  .product__back {
    margin-bottom: 15px;
  }

  .product__btn {
    max-width: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .product__items {
    margin-bottom: 15px;
  }

  .product__instructions {
    margin-bottom: 15px;
  }

  .product__footer {
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .btn.btn-add-cart {
    padding-right: 10px;
    padding-left: 10px;
  }

  .btn.btn-add-cart .btn-add-cart__icon {
    display: block;
    margin-right: 10px;
  }

  .btn.btn-add-cart .btn-add-cart__text {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .btn.btn-add-cart .btn-add-cart__title {
    display: none;
  }

  .tabs-style__item {
    padding: 0 0 20px;
  }

  .input-counter {
    width: 60px;
  }

  .input-counter__btn_dec {
    padding-left: 9px;
  }

  .input-counter__btn_inc {
    padding-right: 9px;
  }

  .input-counter__input-style {
    padding-right: 19px;
    padding-left: 19px;
  }

  .card-item__content {
    padding: 16px 15px 20px;
  }

  .card-item__title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .card-item__text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .restaurant__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .restaurant__info {
    margin: 0 0 20px;
    max-width: 100%;
  }

  .restaurant__image {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .cart__inner {
    padding-bottom: 20px;
  }

  .thank__text {
    margin-top: 10px;
  }

  .order-table {
    margin-top: 15px;
  }

  .order-table__info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .order-table__description {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-top: 0;
  }

  .order-table__control {
    padding-left: 45px;
    margin-top: 8px;
  }

  .order-table__head:not(.order-table__head:last-child) {
    min-height: auto;
  }

  .order-table__text {
    margin-right: 0;
  }

  .order-table__extra {
    margin-bottom: 5px;
  }

  .order-table__counter {
    margin-right: 20px;
  }

  .order-table__counter .input-counter {
    width: 80px;
  }

  .order-table__price {
    width: auto;
    font-size: 16px;
    min-height: 34px;
  }

  .order-table__result {
    width: 100%;
    font-size: 16px;
  }

  .order-table__checkout-btn {
    max-width: 100%;
  }

  .modal__text {
    margin-bottom: 10px;
  }

  .modal__content {
    padding: 35px 20px 30px;
  }

  .modal-order-item__title {
    font-size: 16px;
  }

  .modal-order-item__text {
    margin-bottom: 6px;
  }

  .modal-order__counter {
    width: 65px;
  }

  .popup {
    max-width: 280px;
    font-size: 16px;
  }

  .popup__inner {
    min-height: 40px;
    padding: 16px 24px;
  }
}







/*Add a Tip - "Start"*/

.order-table__counter {}
.order-add-tip__wrapper {
  font-size: 0;
  display: flex;
  justify-content: flex-end;
}
.order-add-tip__button {
  flex: 0 0 84px;
  height: 42px;
  /*border: 1px solid rgba(80, 108, 255, 1);*/
  border: 1px solid rgba(196, 196, 196, 1);
  position: relative;
  margin-left: 12px;
  border-radius: 6px;
  /*overflow: hidden;*/
  transition: all 0.2s ease 0s;

  /*display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;*/
  cursor: pointer;
}
.order-add-tip__button._active {
  border: 1px solid rgba(80, 108, 255, 1);
}
.order-add-tip__button span{
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(19, 19, 19, 1);
  /*position: relative;*/
  z-index: 10;
  pointer-events: none;
  transition: all 0.1s ease 0s;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;

}
.order-add-tip__button_front {}
.order-add-tip__button_input {
  border: none !important;
}
.order-add-tip__button_input input{
  position: relative;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 100%;
  height: 100%;
  outline:none;
  padding: 0 12px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 6px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(19, 19, 19, 1);
  transition: all 0.2s ease 0s;
}
.order-add-tip__button_input-decor {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(80, 108, 255, 1);
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease 0s;
}
.order-add-tip__button_input._active input{
  border: 1px solid rgba(80, 108, 255, 1);
}
.order-add-tip__button_input._active .order-add-tip__button_input-decor{
  opacity: 1;
  right: -20px;
}

.order-add-tip__button_input._active span{
  opacity: 0;
}
.order-add-tip__button_input input:focus{
  /*border: 1px solid #fff !important;*/
  box-shadow: none;
}



@media (max-width: 920px) {
  .order-add-tip__wrapper {
    flex-wrap: wrap;
  }
  .order-add-tip__button {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .order-add-tip__wrapper {
    justify-content: flex-start;
    width: 100%;
    margin-right: 0;
  }
  .order-add-tip .order-table__control{
    padding-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .order-add-tip__button {
    margin-left: 0;
    margin-right: 12px;
  }
  .order-add-tip .order-table__btns {
    max-width: 0;
    display: none;
  }
}

/*Add a Tip - "The end"*/